<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>تمرین سری سوم</title>
    <style>
        body {
            background-color: #000000;
            font-family: A Mitra_1 (MTR);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        h1 {
            color: #69bf64;
            font-size: 30px;
        }
        P{
            color: #808080;
            font-size: 30px;
            }


    </style>
</head>
<body>


    <h1>زینب کریمی گلشفا</h1>
    <p>شماره دانشجویی:40113011017</p>


</body>
</html>
